# Ignore environment variables
env.ts
.env

# Ignore node_modules
node_modules/

# Ignore package locks
package-lock.json
yarn.lock

# Ignore build artifacts
build/

# Ignore log files
*.log

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Ignore VSCode files
.vscode/
